Support query parameters in redirect_uri

As defined by https://tools.ietf.org/html/rfc6749#section-3.1.2:

> The endpoint URI MAY include an
   "application/x-www-form-urlencoded" formatted (per Appendix B) query
   component ([RFC3986] Section 3.4), which MUST be retained when adding
   additional query parameters.

I understand this statement as we could have configured a redirect_uri like so:
```
http://localhost:8080/callback
```

And use a authorize URL like so:
```
http://localhost:8080/oauth2/authorize?response_type=token&realm=/services&client_id=test1&scope=uid&redirect_uri=http://localhost:8080/callback%3Fproperty1%3D111%26property2%3D222
```

And the passed query parameters would be retained when the redirect_uri was called:
```
http://localhost:8080/callback?access_token=123&token_type=Bearer&expires_in=28800&scope=uid&state=&property1=111&property2=222
```

At the moment the use of query parameters on redirect_uri is not possible in planb-provider.


@matosf , legit request!

Hi @vroldanbet, is this still a desired enhancement? If so, maybe "Help Wanted" it?

it is! :smile: 